<?xml version="1.0" ?>
<model>
    <name>Flyzone GE</name>
    <version>1.0</version>
    <sdf version="1.6">flyzone_GE.sdf</sdf>
    <author>
        <name>Thomas Willemot</name>
        <email>thomas.willemot@student.kuleuven.be</email>
    </author>
    <description>A box generated in google earth. Will need to be as real as possible.</description>
</model>
